<div class="my-2">
  <div class="flex border-top-1"></div>

  <div class="flex flex-wrap">
    <div
      class="flex card-box border-bottom-1"
      *ngFor="let cardData of cardSectionData; index as index; let last = last"
    >
      <div
        class="flex flex-column justify-content-between"
        [ngClass]="rawScreenSize <= 800 ? 'py-4' : 'p-4'"
      >
        <img
          *ngIf="cardData.imageSrc && cardData.title !== 'DUK'"
          class="image"
          src="{{ cardData.imageSrc }}"
          alt="Image"
        />
        <h1>{{ cardData.title }}</h1>
        <p class="text-justify pb-5">{{ cardData.description }}</p>
        <p *ngIf="cardData.reviewPerson" class="flex justify-content-end">
          {{ cardData.reviewPerson }}
        </p>
        <img
          *ngIf="cardData.imageSrc && cardData.title === 'DUK'"
          class="image"
          src="{{ cardData.imageSrc }}"
          alt="Image"
        />
        <app-common-button
          class="pt-5"
          [path]="cardData.routePath"
        ></app-common-button>
      </div>

      <div
        *ngIf="!last"
        [ngClass]="
          (rawScreenSize <= 1200 && index === 1) ||
          (rawScreenSize <= 800 && index === 0)
            ? ''
            : 'border-right-1'
        "
        class="h-auto"
      ></div>
    </div>
  </div>
</div>
