<div
  class="flex border-bottom-1"
  [ngClass]="(isScreenSizeTabletOrMobile$ | async) ? 'flex-column' : ''"
  *ngFor="let aboutMe of aboutMeInfo"
>
  <div
    [ngClass]="(isScreenSizeTabletOrMobile$ | async) ? '' : 'border-right-1'"
  >
    <img
      class="image py-5"
      [ngClass]="[
        (isScreenSizeTabletOrMobile$ | async) ? 'w-full' : 'w-25rem',
        (isScreenSizeTabletOrMobile$ | async) ? '' : 'pr-5'
      ]"
      src="{{ aboutMe.imageSrc }}"
    />
  </div>
  <div class="flex flex-column justify-content-between">
    <div [ngClass]="(isScreenSizeTabletOrMobile$ | async) ? '' : 'pl-5'">
      <h1>{{ aboutMe.title }}</h1>
      <p>
        {{ aboutMe.description }}
      </p>
    </div>
    <div class="h-auto border-top-1">
      <p class="pl-5">{{ aboutMe.slogan }}</p>
    </div>
  </div>
</div>
