<div
  *ngFor="let service of planInfo.serviceInfo"
  class="pt-1 border-1 border-top-none gap-2 flex border-right-none"
  [ngClass]="!planInfo.specialOffer ? 'border-bottom-2' : ''"
>
  <div class="flex flex-column gap-1 p-1 pl-3 item-price-height">
    <div class="font-bold">{{ service.photographyValue.time }}</div>
    <div class="text-base font-bold">{{ service.photographyValue.price }}</div>
  </div>

  <div class="w-full flex flex-column justify-content-between">
    <ul
      *ngFor="let includedService of service.includedServices"
      class="list-none p-1 m-0"
    >
      <li>{{ includedService }}</li>
    </ul>
    <div class="flex border-top-1">
      <div
        *ngFor="let extraService of service.extraServices; let first = first"
      >
        <div class="p-1" [ngClass]="!first ? 'border-left-1 pl-4' : 'pr-4'">
          {{ extraService }}
        </div>
      </div>
    </div>
  </div>
</div>
