<app-image-container
  [showTitle]="headerImgInfo.showTitle"
  [description]="headerImgInfo.description"
  [showCta]="headerImgInfo.showCta"
  [imageSrc]="headerImgInfo.imageSrc"
></app-image-container>
<app-card-section [cardSectionData]="cardSectionData"></app-card-section>
<app-image-container
  [showTitle]="aboutMeImgInfo.showTitle"
  [description]="aboutMeImgInfo.description"
  [showCta]="aboutMeImgInfo.showCta"
  [imageSrc]="aboutMeImgInfo.imageSrc"
  [title]="aboutMeImgInfo.title"
></app-image-container>
<app-main-footer></app-main-footer>
