<div class="flex justify-content-center align-items-center">
  <div class="flex flex-column align-items-center justify-content-center">
    <img
      src="../../../assets/img/landing-page/greeting.png"
      [ngClass]="(isScreenSizeTabletOrMobile$ | async) ? 'w-full' : 'w-6'"
    />
    <p
      class="mt-4 text-center"
      [ngClass]="(isScreenSizeTabletOrMobile$ | async) ? 'w-9' : 'w-3'"
    >
      Didžiausia aistra – fotografuoti džiaugsmą, šypsenas ir tikrą gyvenimą. Ai
      ir dar bulvės! Man labai patinka bulvės!
    </p>
    <div
      class="mt-8 flex flex-column align-items-center justify-content-center"
    >
      <h1>Žvilgsnis į A Kind Of Magic Photography pasaulį</h1>
      @if (isScreenSizeMobile$ | async) {
        <img
          src="../../../assets/img/landing-page/image-collage.png"
          [ngClass]="(isScreenSizeTabletOrMobile$ | async) ? 'w-full' : 'w-9'"
          loading="lazy"
        />
      } @else {
        <img
          src="../../../assets/img/landing-page/image-collage-mobile.png"
          [ngClass]="(isScreenSizeTabletOrMobile$ | async) ? 'w-full' : 'w-9'"
          loading="lazy"
        />
      }
    </div>
    <div class="mt-8 relative inline-block flex justify-content-center">
      <img
        src="../../../assets/img/landing-page/about-me-phrame.png"
        [ngClass]="(isScreenSizeTabletOrMobile$ | async) ? 'w-full' : 'w-9'"
        loading="lazy"
      />

      <img
        src="../../../assets/img/landing-page/about-me-img.png"
        class="absolute w-3"
        style="top: 55%; left: 50%; transform: translate(-50%, -50%)"
        loading="lazy"
      />
    </div>

    <div class="mt-8">
      <h1 class="text-center">Ką kalba žmonės?</h1>

      <div class="relative inline-block flex justify-content-center">
        <img
          src="../../../assets/img/landing-page/feedback.png"
          [ngClass]="(isScreenSizeTabletOrMobile$ | async) ? 'w-full' : 'w-9'"
          loading="lazy"
        />

        <img
          src="../../../assets/img/landing-page/'feedback-cta.png'"
          class="absolute w-2"
          style="bottom: 0; left: 50%; transform: translate(-50%, -50%)"
          loading="lazy"
        />
      </div>
    </div>

    <div
      class="mt-8 flex flex-column align-items-center justify-content-center"
    >
      <img
        src="../../../assets/img/landing-page/posing-question.png"
        [ngClass]="(isScreenSizeTabletOrMobile$ | async) ? 'w-7' : 'w-3'"
        loading="lazy"
      />
      <img
        src="../../../assets/img/landing-page/posing-question-cta.png"
        [ngClass]="(isScreenSizeTabletOrMobile$ | async) ? 'w-7' : 'w-3'"
        loading="lazy"
      />
    </div>
  </div>
</div>
