.card-box {
  flex: 1 0 0;
  height: auto;

  .image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
}

@media (max-width: 1200px) {
  .card-box {
    flex-basis: 50%;
  }
}

@media (max-width: 800px) {
  .card-box {
    flex-basis: 100%;
  }
}
