img {
  width: 50rem;
}

@media (max-width: 1024px) {
  img {
    width: 40rem;
  }
}

@media (max-width: 768px) {
  img {
    width: 30rem;
  }
}

@media (max-width: 500px) {
  img {
    width: 20rem;
  }
}
