.rotate-content {
  transform: rotate(180deg) translateY(100%);
  transform-origin: bottom center;
  writing-mode: vertical-lr;
  white-space: nowrap;
}

.custom-width {
  width: 26.6%;
  min-width: 10.5rem;
}
