/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@font-face {
  font-family: "NyghtSerif-Light";
  src: url("assets/fonts/NyghtSerif/NyghtSerif-Light.woff");
}

@font-face {
  font-family: "Awaken-Regular";
  src: url("assets/fonts/AwakenRegular/AwakenRegular-WyZAO.ttf");
}

body {
  background-color: #fff0e0;
  white-space: pre-line;
  font-family: Awaken-Regular;
}

.desktop-icon {
  font-size: 1.7rem;
}

.mobile-icon {
  font-size: 1.2rem;
}
